* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../../staticfiles/images/background-login.jpg");

    .logo-container {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        top: 0;
        right: 0;


        .ugma-container {
            display: flex;
            align-items: end;
            flex-direction: column;
            width: 600px;

            h2 {
                font-size: 35px;
                font-weight: bold;
                color: #002863;
                margin: 0;
                text-shadow: 2px 2px 4px rgba(255, 254, 254, 0.5);
            }

            h3 {
                font-size: 30px;
                font-weight: bold;
                color: #002863;
                margin: 0;
                text-shadow: 2px 2px 4px rgba(255, 254, 254, 0.5);
            }
        }

        img {
            width: 150px;
        }
    }


    .form-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        border: 2px solid rgba(255, 255, 255, .5);
        backdrop-filter: blur(15px);
        box-shadow: 0 0 30px rgba(0, 0, 0, .5);
        padding: 30px 0px;
        width: 400px;
        background: transparent;
        margin-bottom: 45px;
        margin-top: 0px;

        h2 {
            color: aliceblue;
            font-weight: 100;
        }

        input {
            width: 90%;
            height: 40px;
            margin: 5px 0px;
            padding-left: 10px;
            box-sizing: border-box;
            font-size: 14px;
        }

        button {
            box-sizing: border-box;
            padding: 10px 0px;
            width: 90%;
            border: 2px solid aliceblue;
            border-image: linear-gradient(to right, #DC1B5B, aqua) 1 round;
            background: #212529;
            color: aliceblue;
            margin: 5px 0;
            font-size: 16px;
            position: relative;
            z-index: 10;
            cursor: pointer;

            .overlay {
                position: absolute;
                background: linear-gradient(to right, #DC1B5B, aqua);
                top: 0;
                left: 0;
                width: 0%;
                height: 100%;
                transition: 1s;
                z-index: -1;
            
            }


        }
        
        button:hover .overlay {
            width: 100%;
        }
    }
}

@media (max-width:620px){
    .logo-container {
        margin-top: 20px;

        .ugma-container {
            width: 240px !important;

            h2 {
                font-size: 27px !important;
                text-align: center !important;
            }
            h3 {
                font-size: 22px !important;
                text-align: center !important;
            }
        }

        img {
            width: 110px !important;
        }
       
    }
}

@media (max-width:450px){
    main {
        padding: 20px;

        .form-contact {
            width: 100%;
        }
    }
}